<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supcon.mes.module_retention">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".ui.RetentionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.RetentionDetainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.RetentionViewRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity
            android:name=".ui.RetentionDetainEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden|stateHidden|stateUnchanged"
            />

    </application>
</manifest>