<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supcon.mes.module_other">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".ui.inspection.OtherInspectionApplicationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity android:name=".ui.OtherSurveyReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity android:name=".ui.inspection.OtherInspectionApplicationDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity android:name=".ui.OtherSurveyReportDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
    </application>
</manifest>