<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supcon.mes.module_product">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".ui.ProductInspectionApplicationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity android:name=".ui.ProductSurveyReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />



    </application>

</manifest>